.flex-container{
    display:"flex";
    background-color: blueviolet;
    border:1px solid deeppink;
    padding: 30px;
    height: 260px;
}
.flex-item{
    background-color: aquamarine;
    padding: 2px;
    border: 1px solid black;
}